Repository enthali/esp32-distance: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, sphinx-build

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdown lint
        # markdownlint-cli is available globally via npm in the devcontainer
        entry: markdownlint --fix
        language: system
        types: [markdown]
        # Only run on markdown files in docs/ and root-level markdown files
        files: ^(docs/.*\.md|.*\.md)$
        stages: [pre-commit]
      - id: sphinx-build
        name: Sphinx build (strict)
        # sphinx-build is available in /opt/venv/bin in the devcontainer
        # -W treats warnings as errors (strict mode)
        # -b html specifies HTML output
        entry: bash -c 'cd docs && sphinx-build -W -b html . _build/html'
        language: system
        pass_filenames: false
        # Only run if docs/ or conf.py changed (skip for code-only commits)
        files: ^(docs/.*)$
        require_serial: true
        verbose: true
        stages: [pre-commit]

feat: documentation consistency, developer user stories, tag-based versioning
  .github/agents/syspilot.release.agent.md
  .github/copilot-instructions.md
  .vscode/settings.json
  CMakeLists.txt
  README.md
  VERSION
  VERSION.md
  docs/10_userstories/index.rst
  docs/10_userstories/us_developer.rst
  docs/10_userstories/us_display.rst
  docs/10_userstories/us_reliable.rst
  docs/10_userstories/us_setup.rst
  docs/11_requirements/index.rst
  docs/11_requirements/req_config_manager_json.rst
  docs/11_requirements/req_developer_docs.rst
  docs/11_requirements/req_display.rst
  docs/11_requirements/req_distance_sensor.rst
  docs/11_requirements/req_led_controller.rst
  docs/11_requirements/req_netif_tunnel.rst
  docs/12_design/index.rst
  docs/12_design/spec_config_webpage.rst
  docs/12_design/spec_dev_environment.rst
  docs/12_design/spec_developer_docs.rst
  docs/12_design/spec_distance_sensor.rst
  docs/12_design/spec_high_level_architecture.rst
  docs/12_design/spec_known_limitations.rst
  docs/12_design/spec_netif_tunnel.rst
  docs/12_design/spec_web_server.rst
  docs/21_api/api_config_manager.rst
  docs/90_guides/index.rst
  docs/90_guides/pre-commit-hooks.rst
  docs/changes/developer-us.md
  docs/changes/doc-consistency.md
  docs/changes/netif-tunnel-spec.md
  docs/conf.py
  docs/ubproject.toml
Due: markdownlint, sphinx-build

fix: slim README per REQ_DEV_README_1 (squash merge kept old content)
  README.md
Due: markdownlint

feat: add 'useblocks.ubcode' extension to devcontainer configuration
  .devcontainer/devcontainer.json
Due: none

chore: remove deprecated prompts for requirements analysis and feature generation
  .github/prompts/analyze-requirements-mece.prompt.md
  .github/prompts/analyze-requirements-traceability.prompt.md
  .github/prompts/generate-feature-with-coding-agent.prompt.md
Due: markdownlint

feat(docs): add DS18B20 temperature sensor specification
  docs/10_userstories/index.rst
  docs/10_userstories/us_developer.rst
  docs/10_userstories/us_display.rst
  docs/10_userstories/us_setup.rst
  docs/10_userstories/us_temp.rst
  docs/11_requirements/index.rst
  docs/11_requirements/req_config_manager_json.rst
  docs/11_requirements/req_display.rst
  docs/11_requirements/req_distance_sensor.rst
  docs/11_requirements/req_system.rst
  docs/11_requirements/req_temp_sensor.rst
  docs/11_requirements/req_web_server.rst
  docs/12_design/index.rst
  docs/12_design/spec_display.rst
  docs/12_design/spec_temp_sensor.rst
  docs/12_design/spec_web_server.rst
  docs/changes/temp-sensor.md
Due: markdownlint, sphinx-build

docs: mark verified doc-consistency specs as implemented
  docs/10_userstories/us_developer.rst
  docs/11_requirements/req_developer_docs.rst
  docs/12_design/spec_dev_environment.rst
  docs/12_design/spec_developer_docs.rst
  docs/12_design/spec_known_limitations.rst
  docs/changes/val-doc-consistency.md
Due: markdownlint, sphinx-build

docs: verify netif-tunnel-spec, mark 7 SPECs as implemented
  docs/12_design/spec_netif_tunnel.rst
  docs/changes/netif-tunnel-spec.md
  docs/changes/val-netif-tunnel-spec.md
Due: markdownlint, sphinx-build

docs: release agent archive step, doc fixes, validation reports
  .github/agents/syspilot.release.agent.md
  .github/skills/learning.skill.md
  docs/01_overview/index.rst
  docs/10_userstories/us_developer.rst
  docs/90_guides/devcontainer.rst
  docs/90_guides/known-issues.rst
  docs/changes/val-developer-us.md
Due: markdownlint, sphinx-build

chore: archive v2.1.1 change documents, remove WIP temp-sensor
  docs/changes/archive/v2.1.1/developer-us.md
  docs/changes/archive/v2.1.1/doc-consistency.md
  docs/changes/archive/v2.1.1/netif-tunnel-spec.md
  docs/changes/archive/v2.1.1/val-developer-us.md
  docs/changes/archive/v2.1.1/val-doc-consistency.md
  docs/changes/archive/v2.1.1/val-netif-tunnel-spec.md
  docs/changes/temp-sensor.md
Due: markdownlint, sphinx-build

docs: restore temp-sensor change document for ongoing feature work
  docs/changes/temp-sensor.md
Due: markdownlint, sphinx-build

feat(temp-sensor): implement DS18B20 temperature sensor component
  main/CMakeLists.txt
  main/components/config_manager/config_schema.json
  main/components/display_logic/CMakeLists.txt
  main/components/display_logic/display_logic.c
  main/components/display_logic/display_logic.h
  main/components/distance_sensor/distance_sensor.c
  main/components/distance_sensor/distance_sensor.h
  main/components/distance_sensor/distance_sensor_sim.c
  main/components/temp_sensor/CMakeLists.txt
  main/components/temp_sensor/temp_sensor.c
  main/components/temp_sensor/temp_sensor.h
  main/components/temp_sensor/temp_sensor_sim.c
  main/components/web_server/CMakeLists.txt
  main/components/web_server/web_server.c
  main/main.c
Due: none

fix: shorten NVS key temp_interval_ms → temp_intv_ms (16→12 chars)
  main/components/config_manager/config_factory_generated.c
  main/components/config_manager/config_schema.json
  main/components/temp_sensor/temp_sensor.c
  main/components/temp_sensor/temp_sensor.h
  main/components/temp_sensor/temp_sensor_sim.c
Due: none

chore: enable emulator build target (QEMU test run)
  sdkconfig
Due: none

chore: cleanup release v2.1.1 - doc verification, netif-tunnel spec, known-issues update
  .github/agents/syspilot.release.agent.md
  .github/skills/learning.skill.md
  docs/01_overview/index.rst
  docs/10_userstories/us_developer.rst
  docs/11_requirements/req_developer_docs.rst
  docs/12_design/spec_dev_environment.rst
  docs/12_design/spec_developer_docs.rst
  docs/12_design/spec_known_limitations.rst
  docs/12_design/spec_netif_tunnel.rst
  docs/90_guides/devcontainer.rst
  docs/90_guides/known-issues.rst
  docs/changes/archive/v2.1.1/developer-us.md
  docs/changes/archive/v2.1.1/doc-consistency.md
  docs/changes/archive/v2.1.1/netif-tunnel-spec.md
  docs/changes/archive/v2.1.1/val-developer-us.md
  docs/changes/archive/v2.1.1/val-doc-consistency.md
  docs/changes/archive/v2.1.1/val-netif-tunnel-spec.md
  sdkconfig
Due: markdownlint, sphinx-build
