Repository enthali/esp32-distance: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, sphinx-build

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdown lint
        # markdownlint-cli is available globally via npm in the devcontainer
        entry: markdownlint --fix
        language: system
        types: [markdown]
        # Only run on markdown files in docs/ and root-level markdown files
        files: ^(docs/.*\.md|.*\.md)$
        stages: [pre-commit]
      - id: sphinx-build
        name: Sphinx build (strict)
        # sphinx-build is available in /opt/venv/bin in the devcontainer
        # -W treats warnings as errors (strict mode)
        # -b html specifies HTML output
        entry: bash -c 'cd docs && sphinx-build -W -b html . _build/html'
        language: system
        pass_filenames: false
        # Only run if docs/ or conf.py changed (skip for code-only commits)
        files: ^(docs/.*)$
        require_serial: true
        verbose: true
        stages: [pre-commit]

chore: Update document versions and last updated dates to 2.0
  docs/11_requirements/req_config_manager_json.rst
  docs/11_requirements/req_display.rst
  docs/11_requirements/req_distance_sensor.rst
  docs/11_requirements/req_led_controller.rst
  docs/11_requirements/req_netif_tunnel.rst
  docs/11_requirements/req_startup_test.rst
  docs/11_requirements/req_system.rst
  docs/11_requirements/req_web_server.rst
  docs/12_design/spec_config_manager_json.rst
  docs/12_design/spec_config_webpage.rst
  docs/12_design/spec_display.rst
  docs/12_design/spec_distance_sensor.rst
  docs/12_design/spec_high_level_architecture.rst
  docs/12_design/spec_led_controller.rst
  docs/12_design/spec_startup_test.rst
  docs/12_design/spec_web_server.rst
Due: sphinx-build

docs(requirements): Simplify display requirements and align with implementation
  VERSION
  docs/11_requirements/req_display.rst
  docs/11_requirements/req_system.rst
  docs/12_design/spec_display.rst
  main/components/display_logic/display_logic.c
  main/components/display_logic/display_logic.h
  tools/web-flasher/generate-flasher-manifest.sh
Due: sphinx-build

chore(prompts): Rename coding agent prompt for better clarity
  .github/prompts/generate-feature-with-coding-agent.prompt.md
Due: markdownlint

docs(exercises): Add dual-layer LED display feature request example and guidelines
  docs/05_workshop/exercises.rst
Due: sphinx-build

refactor(prompts): streamline feature issue generation process and enhance clarity in documentation
  .github/prompts/generate-feature-with-coding-agent.prompt.md
  VERSION
Due: markdownlint

up
  .github/prompts/generate-feature-with-coding-agent.prompt.md
Due: markdownlint

docs(exercises): enhance LED behavior descriptions for clarity and detail
  docs/05_workshop/exercises.rst
Due: sphinx-build

refactor: update LED zone behavior and descriptions for clarity
  docs/05_workshop/exercises.rst
Due: sphinx-build

fix comment at file top build-docs.sh
  tools/docu/build-docs.sh
Due: none

refactor(api): improve LED controller documentation for clarity and detail
  docs/21_api/api_led_controller.rst
Due: sphinx-build

feat: update devcontainer and settings for improved environment configuration
  .devcontainer/devcontainer.json
  .vscode/settings.json
  VERSION
Due: none

fix: update devcontainer runArgs to specify correct container name
  .devcontainer/devcontainer.json
Due: none

docs(guides): add switching development modes guide for emulator and hardware configurations
  docs/90_guides/index.rst
  docs/90_guides/switching-dev-modes.rst
Due: sphinx-build

docs: add context7 MCP server and clean up copilot instructions
  .github/copilot-instructions.md
  .vscode/mcp.json
Due: markdownlint

chore: install syspilot v0.1.0
  .github/agents/syspilot.change.agent.md
  .github/agents/syspilot.implement.agent.md
  .github/agents/syspilot.mece.agent.md
  .github/agents/syspilot.memory.agent.md
  .github/agents/syspilot.release.agent.md
  .github/agents/syspilot.setup.agent.md
  .github/agents/syspilot.trace.agent.md
  .github/agents/syspilot.verify.agent.md
  .github/prompts/syspilot.change.prompt.md
  .github/prompts/syspilot.implement.prompt.md
  .github/prompts/syspilot.mece.prompt.md
  .github/prompts/syspilot.memory.prompt.md
  .github/prompts/syspilot.release.prompt.md
  .github/prompts/syspilot.setup.prompt.md
  .github/prompts/syspilot.trace.prompt.md
  .github/prompts/syspilot.verify.prompt.md
  .github/skills/syspilot.ask-questions.skill.md
  .gitignore
  .syspilot/scripts/python/get_need_links.py
  .syspilot/templates/change-document.md
  .syspilot/version.json
  .vscode/settings.json
  docs/10_userstories/index.rst
  docs/10_userstories/us_display.rst
  docs/10_userstories/us_reliable.rst
  docs/10_userstories/us_setup.rst
  docs/conf.py
  docs/index.rst
Due: markdownlint, sphinx-build

refactor(agents): split implement agent into local and cloud variants
  .github/agents/syspilot.change.agent.md
  .github/agents/syspilot.implement-cloud.agent.md
  .github/agents/syspilot.implement.agent.md
  .github/prompts/generate-feature-with-coding-agent.prompt.md
Due: markdownlint

docs: update syspilot implement agent documentation for clarity and completeness
  .github/agents/syspilot.implement.agent.md
Due: markdownlint

refactor(agents): split implement agent into local and cloud variants
  .github/agents/syspilot.change.agent.md
  .github/agents/syspilot.implement-cloud.agent.md
  .github/prompts/generate-feature-with-coding-agent.prompt.md
Due: markdownlint

fix(agents): add implementation completeness check to implement agent
  .github/agents/syspilot.implement.agent.md
Due: markdownlint

local fix of the syspilot agent implementation, which was not working correctly in this particular project
  .github/agents/syspilot.implement.agent.md
Due: markdownlint

chore: update syspilot 0.1.0 → 0.2.1
  .syspilot/templates/agents/syspilot.change.agent.md
  .syspilot/templates/agents/syspilot.implement.agent.md
  .syspilot/templates/agents/syspilot.mece.agent.md
  .syspilot/templates/agents/syspilot.memory.agent.md
  .syspilot/templates/agents/syspilot.release.agent.md
  .syspilot/templates/agents/syspilot.setup.agent.md
  .syspilot/templates/agents/syspilot.trace.agent.md
  .syspilot/templates/agents/syspilot.verify.agent.md
  .syspilot/templates/prompts/syspilot.change.prompt.md
  .syspilot/templates/prompts/syspilot.implement.prompt.md
  .syspilot/templates/prompts/syspilot.mece.prompt.md
  .syspilot/templates/prompts/syspilot.memory.prompt.md
  .syspilot/templates/prompts/syspilot.release.prompt.md
  .syspilot/templates/prompts/syspilot.setup.prompt.md
  .syspilot/templates/prompts/syspilot.trace.prompt.md
  .syspilot/templates/prompts/syspilot.verify.prompt.md
  .syspilot/templates/scripts/python/get_need_links.py
  .syspilot/templates/skills/syspilot.ask-questions.skill.md
  .syspilot/templates/sphinx/build.ps1
  .syspilot/templates/sphinx/build.sh
  .syspilot/templates/version.json
  .syspilot/version.json
Due: markdownlint

feat(docs): update API documentation links and improve Sphinx configuration
  .vscode/settings.json
  docs/11_requirements/req_led_controller.rst
  docs/21_api/api_led_controller.rst
  docs/21_api/api_web_server.rst
  docs/21_api/api_wifi_manager.rst
  docs/conf.py
Due: sphinx-build
